@use '@/shared/assets/styles/functions' as *;
@use '@/shared/assets/styles/mixins' as *;

.base-pagination {
	display: flex;
	align-items: center;
	gap: sz(16px);
	justify-content: center;
	@include interactive;

	&__pages {
		display: flex;
		gap: sz(8px);
	}

	// Варианты
	&--ghost {
		opacity: 0.8;

		@include hover {
			opacity: 1;
		}
	}

	&--outline {
		border: 1px solid var(--color-border);
		padding: sz(8px);
		border-radius: var(--border-radius-base);
	}

	&--shadow {
		box-shadow: var(--shadow-sm);
	}

	&--soft {
		@include custom-bg(background-color, var(--color-primary-soft));
		padding: sz(8px);
		border-radius: var(--border-radius-base);
	}
}
