.base-text {
	@include custom-text(color, var(--color-text));
	font-family: var(--font-family-base);
	font-size: sz(14px);
	margin: 0;

	// Без переноса
	&--nowrap {
		white-space: nowrap;
	}

	// Обрезка с многоточием (одна строка)
	&--truncate {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
