.profile-page {
	padding: 64px 0;

	&__container {
		max-width: 800px;
		margin: 0 auto;
		padding: 0 20px;
	}

	&__title {
		font-size: 32px;
		font-weight: 800;
		margin-bottom: 32px;
	}

	&__card {
		background-color: var(--color-white);
		padding: 32px;
		border-radius: var(--border-radius-base);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

		p {
			margin-bottom: 16px;
		}
	}

	&__subtitle {
		margin-bottom: 24px;
		font-size: 20px;
	}
}
