@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.base-table {
	&__tr {
		@include transition(background-color);

		@include hover {
			background-color: rgba(249, 115, 22, 0.03);
		}

		&--selected {
			background-color: rgba(249, 115, 22, 0.06);
		}

		&--disabled {
			opacity: 0.45;
		}

		&--child {
			background-color: var(--color-surface-muted);

			.base-table__td {
				font-size: sz(13px);
				padding-left: sz(48px);
			}
		}

		&--expandable {
			cursor: pointer;
		}
	}
}
